
h1 {color:rgb(36, 59, 59);
    font-size: 2em;
    font-weight: bold;
    text-align: center;

}

body {
    background-color: rgb(255, 400, 200);
    font-size: 25px;
}

#extinct-specie {
    background-color: rgb(128, 128, 184);
    font-weight: bold;
    text-align: center;
}

p {
    font-family: monospace;
}