
h1 {color:rgb(36, 59, 59);
    font-size: 2em;
    font-weight: bold;
    text-align: center;

}

body {
    background-color: rgb(63, 164, 172);
    font-size: 25px;
}

#extinct-specie {
    background-color: rgb(127, 127, 146);
    font-weight: bold;
    text-align: center;
}

p {
    font-family: monospace;
}

.fotopequena {width: 200px;
             height: 200px;
             border-radius: 100%;
}

.corpooverflow {background-color: white;
                padding: 5%;
                height: 200px;
                overflow: auto;        
}

.fotoredonda {padding: 1%;
              text-align: center;

            
}