#header {
    padding: 10px;
	border: 4px solid black;
	background-color: grey;
	height: 50px;
	margin-bottom: 10px;
	width: 200px;
}
#nav {
    padding: 10px;
    border: 4px solid black;
    background-color: grey;
    height: 50px;
    margin-bottom: 10px;
    width: 200px; 
}
.navlink li {
	display: inline-block;
	margin-right: 100px;
    background-color: brown;
}
#group {
    
}


